.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: $brand-peachpuff;

  @media (max-width: 768px) {
    height: 40px;
  }

  .menu {
    margin: auto;

    &-one {
      display: inline-block;
      font-size: 20px;
      margin: 10px;
    }

    &-inner {
      text-decoration: none;
      color: $white;
    }
    @media (max-width: 425px) {
      display: none;
    }
  }

  .menu__wrapper{
    @media (max-width: 425px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;

    .menu-one{
      font-size: 22px;
    }
  }
  }
}