.header {
  background: $brand-peachpuff;
  padding: $default-padding;

  &__wrapper {
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 60px;
      height: auto;
    }
  }

  .menu {
    margin: auto;

    &-one {
      display: inline-block;
      font-size: 20px;
      margin: 10px;
    }

    &-inner {
      text-decoration: none;
      color: $white;
    }

    @media (max-width: 425px) {
      display: none;
    }
  }

  .menu__wrapper {
    @media (max-width: 425px) {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      text-decoration: none;
      color: $white;

      &--item {
        display: inline-block;
        font-size: 20px;
        margin: 10px;
      }
    }
  }
}
