.section {
  &-one {
    display: flex;

    @media (max-width: 425px) {
      flex-direction: column;
    }

    .left__wrapper {
      width: 50%;

      @media (max-width: 425px) {
        width: 100%;
      }
    }

    .right__wrapper {
      width: 50%;
      background-color: #ff6347;
      padding: 2%;

      @media (max-width: 425px) {
        width: 100%;
        padding: 0;
      }

      .content-text {
        text-align: center;

        @media (max-width: 768px) {
          font-size: 25px;
          line-height: 18px;
          padding: 5%;
        }
      }
    }
  }

  &-two {
    display: flex;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    .card-wrapper {
      width: 25%;
      position: relative;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        width: 50%;
      }

      @media (max-width: 425px) {
        width: 100%;
      }

      .title {
        &__wrapper {
          position: relative;
          color: $white;
        }
      }

      .image {
        &__wrapper {
          width: 100%;
          height: 400px;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .description__wrapper {
        position: relative;
        color: $white;
        font-size: 20px;
      }
    }
  }

  &-three {
    display: flex;

    @media (max-width: 425px) {
      display: block;
    }

    .card-wrapper {
      width: 33.3%;
      height: 400px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 768px) {
        width: 33, 3%;
      }

      @media (max-width: 425px) {
        width: 100%;
      }

      .title {
        &__wrapper {
          text-align: center;
          color: $white;
        }
      }

      .description {
        &__wrapper {
          display: flex;
          justify-content: center;
        }
      }

      &:nth-child(1) {
        background: #7fff00;
      }

      &:nth-child(2) {
        background: #008000;
      }

      &:nth-child(3) {
        background-color: $blue;
      }
    }
  }

  &-four {
    display: flex;
    align-items: flex-start;

    @media (max-width: 425px) {
      display: block;
    }

    .card-wrapper {
      display: flex;
      width: 33.3%;
      flex-wrap: wrap;

      @media (max-width: 425px) {
        width: 100%;
      }
    }
  }

  &-five {
    background: #f8f8ff;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
    margin-top: 25px;

    @media (max-width: 425px) {
      width: 100%;
      padding: 0;
    }

    input {
      width: 50%;
      border-radius: none;
      padding: 10px;
      border: 2px solid $brand-moccasin;
      margin: 0 auto 10px auto;
      display: block;
    }

    button {
      padding: 10px 30px;
      border: 2px solid $brand-moccasin;
      color: $brand-moccasin;
      background: $white;
      font-size: 15px;
      border-radius: none;
      line-height: 32px;

      @media (max-width: 768px) {
        padding: 10px 25px !important;
      }

      &:hover {
        background: $brand-moccasin;
        color: $white;
      }
    }
  }

  &-six {
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      display: block;
    }

    .left__wrapper,
    .right__wrapper {
      background: #f8f8ff;
      width: 50%;
      margin: auto;
      text-align: center;
      padding: 10px;
      margin-top: 25px;

      @media (max-width: 768px) {
        width: 100%;
        padding: 0;
      }
    }
  }

  &-seven {
    background-color: #fff;
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    background-color: #eee;
    margin: 3%;

    .table-list {
      width: 100%;

      thead {
        background-color: #ddd;

        tr {
          th {
            padding: 10px;
          }
        }
      }

      tfoot {
        tr {
          td {
            input {
              padding: 10px;
              border: 1px solid transparent;
              display: block;
              outline: none;

              &:focus {
                border-color: #eee;
              }
            }
          }
        }
      }
    }

    .clear_item {
      color: #f30d0df6;
      text-align: center;
    }
  }

  // &-eight {
  //   background-color: #a46cd8;
  //   padding: 3%;

  //   .faq {
  //     display: block;
  //     width: 100%;
  //     max-width: 768px;
  //     margin: 1px auto;
  //     padding: 15px;
  //     background-color: #fff;

  //     &question {
  //       position: relative;
  //       color: #3c3c3c;
  //       font-size: 20px;
  //       transition: all 0.4s linear;
  //     }

  //     &question::after {
  //       content: "";
  //       position: absolute;
  //       top: 50%;
  //       right: 0px;
  //       transform: translateY(-50%) rotate(-90deg);
  //       width: 30px;
  //       height: 30px;
  //       background-image: url(https://cdn-icons-png.flaticon.com/512/566/566092.png);
  //       background-position: center;
  //       background-size: contain;
  //       background-repeat: no-repeat;
  //       transition: all 0.2s linear;
  //     }

  //     &answer {
  //       color: #3c3c3c;
  //       font-size: 18px;
  //       opacity: 0;
  //       max-height: 0px;
  //       overflow-y: hidden;
  //       transition: all 0.4s ease-out;
  //     }
  //   }
  //     .faq.open {
  //       &question {
  //         margin-bottom: 15px;
  //       }

  //       &question::after {
  //         transform: translateY(-50%) rotate(90deg);
  //       }

  //       &answer {
  //         opacity: 1;
  //         max-height: 1000px;
  //       }
  //   }
  // }
}
